USE [SHOPEE]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNT_ID] [char](15) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[PHONE_NUMBER] [char](15) NOT NULL,
 CONSTRAINT [PK_ACC] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADDRESS_INFO]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS_INFO](
	[ADD_INFO_ID] [char](15) NOT NULL,
	[A_ACCOUNT] [char](15) NOT NULL,
	[A_FULLNAME] [nvarchar](100) NOT NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[A_PHONENUMBER] [char](15) NOT NULL,
 CONSTRAINT [PK_AI] PRIMARY KEY CLUSTERED 
(
	[ADD_INFO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORY_ID] [char](15) NOT NULL,
	[CATEGORY_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_CG] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSIFICATION]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSIFICATION](
	[GROUP_ID] [char](15) NOT NULL,
	[GROUP_NAME] [nvarchar](100) NOT NULL,
	[PRODUCT] [char](15) NOT NULL,
	[PRICE] [money] NOT NULL,
	[INVENTORY_NUMBER] [int] NOT NULL,
 CONSTRAINT [PK_CF] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_ID] [char](15) NOT NULL,
	[FULLNAME] [nvarchar](100) NULL,
	[GENDER] [bit] NULL,
	[BIRTH] [date] NULL,
 CONSTRAINT [PK_CUS] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE](
	[IMAGE_ID] [char](15) NOT NULL,
	[I_PRODUCT] [char](15) NULL,
	[IMAGE_LINK] [char](500) NULL,
 CONSTRAINT [PK_IM] PRIMARY KEY CLUSTERED 
(
	[IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METHOD]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METHOD](
	[METHOD_ID] [char](15) NOT NULL,
	[METHOD_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MT] PRIMARY KEY CLUSTERED 
(
	[METHOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[O_GROUP] [char](15) NOT NULL,
	[OD_ORDER] [char](15) NOT NULL,
	[O_AMOUNT] [int] NOT NULL,
 CONSTRAINT [PK_ODD] PRIMARY KEY CLUSTERED 
(
	[O_GROUP] ASC,
	[OD_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_SHIPPING_INFO]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_SHIPPING_INFO](
	[ORDER_ID] [char](15) NOT NULL,
	[SHIPPING_CODE] [char](15) NOT NULL,
	[SENDING_INFO] [char](15) NOT NULL,
	[RECEIVING_INFO] [char](15) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[PROCODE] [char](15) NULL,
	[SHIPPING_FEE] [money] NOT NULL,
	[INTEND_TIME] [date] NOT NULL,
	[TOTAL_WEIGHT] [int] NOT NULL,
	[TOTAL_MONEY] [money] NOT NULL,
	[SHIPPING_UNIT] [char](15) NOT NULL,
	[PAY] [money] NOT NULL,
	[SIGN] [bit] NULL,
	[DELIVERY_DATE] [date] NULL,
	[PAYMENT_METHOD] [char](15) NOT NULL,
 CONSTRAINT [PK_OSF] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCODE]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCODE](
	[P_CUSTOMER] [char](15) NOT NULL,
	[P_CODE] [char](15) NOT NULL,
	[P_AMOUNT] [int] NOT NULL,
 CONSTRAINT [PK_PC] PRIMARY KEY CLUSTERED 
(
	[P_CUSTOMER] ASC,
	[P_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [char](15) NOT NULL,
	[SHOP] [char](15) NOT NULL,
	[PRODUCT_NAME] [nvarchar](100) NOT NULL,
	[PRODUCE_TYPE] [nvarchar](100) NULL,
	[CATEGORY] [char](15) NOT NULL,
	[INFORMATION] [nvarchar](1000) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NOT NULL,
	[PREODER] [bit] NOT NULL,
	[PRODUCT_STATUS] [bit] NOT NULL,
	[AVERAGE_RATING] [real] NOT NULL,
	[WEIGHT] [real] NOT NULL,
 CONSTRAINT [PK_P] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[PROMOTION_CODE] [char](15) NOT NULL,
	[PROMOTION_TYPE] [nvarchar](50) NOT NULL,
	[EXPRIRATION_DATE] [date] NOT NULL,
	[DISCOUNT] [int] NOT NULL,
 CONSTRAINT [PK_PM] PRIMARY KEY CLUSTERED 
(
	[PROMOTION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [char](15) NOT NULL,
	[R_PRODUCT] [char](15) NOT NULL,
	[R_CUSTOMER] [char](15) NOT NULL,
	[STAR_NUMBER] [tinyint] NOT NULL,
	[COMMENT] [nvarchar](1000) NOT NULL,
	[R_MODIFIED_DATE] [date] NOT NULL,
 CONSTRAINT [PK_RATE] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPLY]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPLY](
	[RATING] [char](15) NOT NULL,
	[RSHOP] [char](15) NOT NULL,
	[CONTEND] [varchar](15) NULL,
	[RL_MODIFIEF_DATE] [date] NULL,
 CONSTRAINT [PK_REPLY_1] PRIMARY KEY CLUSTERED 
(
	[RATING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHIPPING_UNIT]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPING_UNIT](
	[SHIPPING_UNIT_ID] [char](15) NOT NULL,
	[UNIT_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SU] PRIMARY KEY CLUSTERED 
(
	[SHIPPING_UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOP]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP](
	[SHOP_ID] [char](15) NOT NULL,
	[SHOP_NAME] [nvarchar](100) NULL,
	[RESPONSE_RATE] [real] NULL,
	[FOLLOW] [int] NULL,
	[PRODUCT_NUMBER] [int] NULL,
 CONSTRAINT [PK_S] PRIMARY KEY CLUSTERED 
(
	[SHOP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[STATUS_ID] [char](15) NOT NULL,
	[STATUS_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_STT] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_INFO]    Script Date: 26/12/2020 11:16:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_INFO](
	[S_ORDER] [char](15) NOT NULL,
	[STATUS] [char](15) NOT NULL,
	[S_MODIFIED_DATE] [date] NOT NULL,
 CONSTRAINT [PK_SI] PRIMARY KEY CLUSTERED 
(
	[S_ORDER] ASC,
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
--data lon >100mb ko up duoc len github
ALTER TABLE [dbo].[ADDRESS_INFO]  WITH CHECK ADD  CONSTRAINT [FK_ADDI_ACC] FOREIGN KEY([A_ACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[ADDRESS_INFO] CHECK CONSTRAINT [FK_ADDI_ACC]
GO
ALTER TABLE [dbo].[CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_CL_P] FOREIGN KEY([PRODUCT])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[CLASSIFICATION] CHECK CONSTRAINT [FK_CL_P]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_C_ACC] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_C_ACC]
GO
ALTER TABLE [dbo].[IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_IM_P] FOREIGN KEY([I_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[IMAGE] CHECK CONSTRAINT [FK_IM_P]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ODD_OD] FOREIGN KEY([OD_ORDER])
REFERENCES [dbo].[ORDER_SHIPPING_INFO] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ODD_OD]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ODD_PDD] FOREIGN KEY([O_GROUP])
REFERENCES [dbo].[CLASSIFICATION] ([GROUP_ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ODD_PDD]
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO]  WITH CHECK ADD  CONSTRAINT [FK_OSI_AR] FOREIGN KEY([RECEIVING_INFO])
REFERENCES [dbo].[ADDRESS_INFO] ([ADD_INFO_ID])
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO] CHECK CONSTRAINT [FK_OSI_AR]
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO]  WITH CHECK ADD  CONSTRAINT [FK_OSI_AS] FOREIGN KEY([SENDING_INFO])
REFERENCES [dbo].[ADDRESS_INFO] ([ADD_INFO_ID])
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO] CHECK CONSTRAINT [FK_OSI_AS]
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO]  WITH CHECK ADD  CONSTRAINT [FK_OSI_MP] FOREIGN KEY([PAYMENT_METHOD])
REFERENCES [dbo].[METHOD] ([METHOD_ID])
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO] CHECK CONSTRAINT [FK_OSI_MP]
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO]  WITH CHECK ADD  CONSTRAINT [FK_OSI_PC] FOREIGN KEY([PROCODE])
REFERENCES [dbo].[PROMOTION] ([PROMOTION_CODE])
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO] CHECK CONSTRAINT [FK_OSI_PC]
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO]  WITH CHECK ADD  CONSTRAINT [FK_OSI_SU] FOREIGN KEY([SHIPPING_UNIT])
REFERENCES [dbo].[SHIPPING_UNIT] ([SHIPPING_UNIT_ID])
GO
ALTER TABLE [dbo].[ORDER_SHIPPING_INFO] CHECK CONSTRAINT [FK_OSI_SU]
GO
ALTER TABLE [dbo].[PROCODE]  WITH CHECK ADD  CONSTRAINT [FK_PC_CUS] FOREIGN KEY([P_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PROCODE] CHECK CONSTRAINT [FK_PC_CUS]
GO
ALTER TABLE [dbo].[PROCODE]  WITH CHECK ADD  CONSTRAINT [FK_PC_PMT] FOREIGN KEY([P_CODE])
REFERENCES [dbo].[PROMOTION] ([PROMOTION_CODE])
GO
ALTER TABLE [dbo].[PROCODE] CHECK CONSTRAINT [FK_PC_PMT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PD_CG] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[CATEGORY] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PD_CG]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PD_S] FOREIGN KEY([SHOP])
REFERENCES [dbo].[SHOP] ([SHOP_ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PD_S]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD  CONSTRAINT [FK_RT_CUS] FOREIGN KEY([R_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RT_CUS]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD  CONSTRAINT [FK_RT_PD] FOREIGN KEY([R_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RT_PD]
GO
ALTER TABLE [dbo].[REPLY]  WITH CHECK ADD  CONSTRAINT [FK_RL_RT] FOREIGN KEY([RATING])
REFERENCES [dbo].[RATING] ([RATING_ID])
GO
ALTER TABLE [dbo].[REPLY] CHECK CONSTRAINT [FK_RL_RT]
GO
ALTER TABLE [dbo].[REPLY]  WITH CHECK ADD  CONSTRAINT [FK_RL_S] FOREIGN KEY([RSHOP])
REFERENCES [dbo].[SHOP] ([SHOP_ID])
GO
ALTER TABLE [dbo].[REPLY] CHECK CONSTRAINT [FK_RL_S]
GO
ALTER TABLE [dbo].[SHOP]  WITH CHECK ADD  CONSTRAINT [FK_S_ACC] FOREIGN KEY([SHOP_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[SHOP] CHECK CONSTRAINT [FK_S_ACC]
GO
ALTER TABLE [dbo].[STATUS_INFO]  WITH CHECK ADD  CONSTRAINT [FK_SI_OD] FOREIGN KEY([S_ORDER])
REFERENCES [dbo].[ORDER_SHIPPING_INFO] ([ORDER_ID])
GO
ALTER TABLE [dbo].[STATUS_INFO] CHECK CONSTRAINT [FK_SI_OD]
GO
ALTER TABLE [dbo].[STATUS_INFO]  WITH CHECK ADD  CONSTRAINT [FK_SI_S] FOREIGN KEY([STATUS])
REFERENCES [dbo].[STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[STATUS_INFO] CHECK CONSTRAINT [FK_SI_S]
GO
